In [11]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

df = pd.read_csv("samples_cancer.csv")
print(df)

          ID  Clump  UnifSize  UnifShape  MargAdh  SingEpiSize BareNuc  \
0    1000025      5         1          1        1            2       1
1    1002945      5         4          4        5            7      10
2    1015425      3         1          1        1            2       2
3    1016277      6         8          8        1            3       4
4    1017023      4         1          1        3            2       1
..       ...    ...       ...        ...      ...          ...     ...
694   776715      3         1          1        1            3       2
695   841769      2         1          1        1            2       1
696   888820      5        10         10        3            7       3
697   897471      4         8          6        4            3       4
698   897471      4         8          8        5            4       5

     BlandChrom  NormNucl  Mit  Class
0             3         1    1      2
1             3         2    1      2
2             3         1    1      2
3             3         7    1      2
4             3         1    1      2
..          ...       ...  ...    ...
694           1         1    1      2
695           1         1    1      2
696           8        10    2      4
697          10         6    1      4
698          10         4    1      4

[699 rows x 11 columns]

In [5]:
df.drop(columns=['ID'], inplace=True)
print(df)

     Clump  UnifSize  UnifShape  MargAdh  SingEpiSize BareNuc  BlandChrom  \
0        5         1          1        1            2       1           3
1        5         4          4        5            7      10           3
2        3         1          1        1            2       2           3
3        6         8          8        1            3       4           3
4        4         1          1        3            2       1           3
..     ...       ...        ...      ...          ...     ...         ...
694      3         1          1        1            3       2           1
695      2         1          1        1            2       1           1
696      5        10         10        3            7       3           8
697      4         8          6        4            3       4          10
698      4         8          8        5            4       5          10

     NormNucl  Mit  Class
0           1    1      2
1           2    1      2
2           1    1      2
3           7    1      2
4           1    1      2
..        ...  ...    ...
694         1    1      2
695         1    1      2
696        10    2      4
697         6    1      4
698         4    1      4

[699 rows x 10 columns]

In [5]:
import numpy as np
df.replace("?", np.nan, inplace=True)
df.dropna(inplace=True)
df.dropna

<bound method DataFrame.dropna of           ID  Clump  UnifSize  UnifShape  MargAdh  SingEpiSize BareNuc  \
0    1000025      5         1          1        1            2       1
1    1002945      5         4          4        5            7      10
2    1015425      3         1          1        1            2       2
3    1016277      6         8          8        1            3       4
4    1017023      4         1          1        3            2       1
..       ...    ...       ...        ...      ...          ...     ...
694   776715      3         1          1        1            3       2
695   841769      2         1          1        1            2       1
696   888820      5        10         10        3            7       3
697   897471      4         8          6        4            3       4
698   897471      4         8          8        5            4       5

     BlandChrom  NormNucl  Mit  Class
0             3         1    1      2
1             3         2    1      2
2             3         1    1      2
3             3         7    1      2
4             3         1    1      2
..          ...       ...  ...    ...
694           1         1    1      2
695           1         1    1      2
696           8        10    2      4
697          10         6    1      4
698          10         4    1      4

[683 rows x 11 columns]>

In [9]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]
print("X values")
print(x)
print("Y values")
print(y)

X values
          ID  Clump  UnifSize  UnifShape  MargAdh  SingEpiSize BareNuc  \
0    1000025      5         1          1        1            2       1
1    1002945      5         4          4        5            7      10
2    1015425      3         1          1        1            2       2
3    1016277      6         8          8        1            3       4
4    1017023      4         1          1        3            2       1
..       ...    ...       ...        ...      ...          ...     ...
694   776715      3         1          1        1            3       2
695   841769      2         1          1        1            2       1
696   888820      5        10         10        3            7       3
697   897471      4         8          6        4            3       4
698   897471      4         8          8        5            4       5

     BlandChrom  NormNucl  Mit
0             3         1    1
1             3         2    1
2             3         1    1
3             3         7    1
4             3         1    1
..          ...       ...  ...
694           1         1    1
695           1         1    1
696           8        10    2
697          10         6    1
698          10         4    1

[683 rows x 10 columns]
Y values
0      2
1      2
2      2
3      2
4      2
      ..
694    2
695    2
696    4
697    4
698    4
Name: Class, Length: 683, dtype: int64

In [15]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
print(scaler.fit(x))

StandardScaler()

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 0)